.mapContainer {
  height: calc(100vh - 64px); /* Adjust height dynamically */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.markerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tooltipPaper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
}

.tooltipPaper .MuiTypography-root {
  text-align: center;
}

.pointer {
  cursor: pointer;
  height: 50px;
  width: 50px;
}